In [1]:
import pandas as pd

In [11]:
data = pd.read_csv("E:\VISUALISASI\DATABASE\CSV\MPNSPM.csv", sep = ";", low_memory =False)
df_ektrak =data[['MPN_NPWP','MPN_NAMA WP','AR','SEKSI','KLU','Kategori','klu_nama'
                   ]]
df_ektrak.dtypes
df_ektrak

,MPN_NPWP,MPN_NAMA WP,AR,SEKSI,KLU,Kategori,klu_nama
0,13007026007000,GOBEL DHARMA NUSANTARA,DJAINI KURNIAWAN,Waskon 3,46491.0,Perdagangan Besar dan Eceran; Reparasi dan Per...,PERDAGANGAN BESAR PERALATAN DAN PERLENGKAPAN R...
1,13007026007000,GOBEL DHARMA NUSANTARA,DJAINI KURNIAWAN,Waskon 3,46491.0,Perdagangan Besar dan Eceran; Reparasi dan Per...,PERDAGANGAN BESAR PERALATAN DAN PERLENGKAPAN R...
2,13007026007000,GOBEL DHARMA NUSANTARA,DJAINI KURNIAWAN,Waskon 3,46491.0,Perdagangan Besar dan Eceran; Reparasi dan Per...,PERDAGANGAN BESAR PERALATAN DAN PERLENGKAPAN R...
3,13007026007000,GOBEL DHARMA NUSANTARA,DJAINI KURNIAWAN,Waskon 3,46491.0,Perdagangan Besar dan Eceran; Reparasi dan Per...,PERDAGANGAN BESAR PERALATAN DAN PERLENGKAPAN R...
4,13007026007000,GOBEL DHARMA NUSANTARA,DJAINI KURNIAWAN,Waskon 3,46491.0,Perdagangan Besar dan Eceran; Reparasi dan Per...,PERDAGANGAN BESAR PERALATAN DAN PERLENGKAPAN R...
...,...,...,...,...,...,...,...
552690,24483059009000,BINTANG SHAFWAN,WILLI SUJITA,Waskon 2,46100.0,Perdagangan Besar dan Eceran; Reparasi dan Per...,PERDAGANGAN BESAR ATAS DASAR BALAS JASA (FEE) ...
552691,24483059009000,BINTANG SHAFWAN,WILLI SUJITA,Waskon 2,46100.0,Perdagangan Besar dan Eceran; Reparasi dan Per...,PERDAGANGAN BESAR ATAS DASAR BALAS JASA (FEE) ...
552692,10017044059000,KADI INTERNATIONAL,WIDI SUBIYONO,Waskon 2,42111.0,Konstruksi,KONSTRUKSI JALAN RAYA
552693,10017044059000,KADI INTERNATIONAL,WIDI SUBIYONO,Waskon 2,42111.0,Konstruksi,KONSTRUKSI JALAN RAYA
552694,13859343423000,ITAMA RANORAYA TBK.,NaN,NaN,NaN,NaN,NaN

In [10]:
df_ektrak.KLU = df_ektrak.KLU.astype(int) 
df_ektrak.dtypes

ValueError: Cannot convert non-finite values (NA or inf) to integer